.App {
    background: linear-gradient(135deg, #8e44ad, #3498db);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
}

.auth-container {
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px; /* Уменьшено */
    border-radius: 10px; /* Уменьшено */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); /* Уменьшено */
    text-align: center;
    max-width: 300px; /* Уменьшено */
    width: 100%;
}

.close-icon {
    position: absolute;
    top: 5px;
    right: 10px; /* Уменьшено */
    font-size: 1.2rem; /* Уменьшено */
    color: #ff1900;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-icon:hover {
    color: #c0392b;
}

h1 {
    font-size: 2rem; /* Уменьшено */
    margin-bottom: 15px; /* Уменьшено */
    color: #fff;
}

p {
    font-size: 1rem; /* Уменьшено */
    margin-bottom: 10px; /* Уменьшено */
    color: #ddd;
}

.input-field {
    width: 280px; /* Уменьшено */
    padding: 10px; /* Уменьшено */
    margin-bottom: 15px; /* Уменьшено */
    border: none;
    border-radius: 8px; /* Уменьшено */
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.8) 0%,
        rgba(255, 255, 255, 0.6) 100%
    );
    color: #333;
    font-size: 1rem; /* Уменьшено */
    outline: none;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1); /* Уменьшено */
    transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.input-field::placeholder {
    color: #aaa;
}

.input-field:focus {
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0.8) 100%
    );
    box-shadow: 0 3px 10px rgba(255, 105, 180, 0.5); /* Уменьшено */
    transform: scale(1.02);
}

.input-field:hover {
    box-shadow: 0 3px 10px rgba(255, 105, 180, 0.3); /* Уменьшено */
}

.input-field:focus-visible {
    outline: 2px solid #a68e8e;
}

.submit-btn,
.close-btn {
    width: 300px; /* Уменьшено */
    padding: 10px; /* Уменьшено */
    border: none;
    border-radius: 8px; /* Уменьшено */
    font-size: 1rem; /* Уменьшено */
    cursor: pointer;
    color: white;
    background-color: #48d057;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); /* Уменьшено */
    transition: all 0.3s ease;
    margin-bottom: 10px; /* Уменьшено */
}

.submit-btn:hover,
.close-btn:hover {
    background-color: #18c16a;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Уменьшено */
    transform: translateY(-1px); /* Уменьшено */
}

.submit-btn:active,
.close-btn:active {
    transform: scale(0.95);
}

.close-btn {
    background-color: #e74c3c;
}

.close-btn:hover {
    background-color: #c0392b;
}

.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 18px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2rem; /* Размер иконки */
    user-select: none; /* Запрет на выделение */
}
